html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.age-age {
  padding-right: 104px;
}
.like-like {
  padding-right: 160px;
}
.color .row {
  background-image: url(resim2.jpg);
  background-size: cover;
  width: 600px;
  height: auto;
  border-radius: 50px;
}
